.rodape {
    background-color: #584b2f; 
    color: white;
    text-align: center;
    padding: 20px; 
     
    bottom: 0; 
    width: 100%; 
    font-size: 13px;
     display: flex;
    align-items: center;
justify-content: center; 
flex-direction: row;

}
.divImgr{ height: 30px;}
    .logor{height: 100%;}

    .roda{ margin: 0px 20px 0px 0px ; }